$smallText: 1.5rem ;
$headingText: 3rem ;


//portfolio
#portfolio{
    position: absolute;
    top:0;
    width: 90%;
    z-index: 1;
    overflow: hidden;
  }

section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10vw;
    width: 80%;
    height: fit-content;
    color: rgb(7, 7, 7);



.title{
    font-size: $headingText;
    letter-spacing: -0.27vw;
}

//link buttons
    .linkButton{
            color:aqua;
            border:0.3vw solid rgb(243, 137, 6);
            padding: 0.7vw;
            margin: 0.7vw;
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow: hidden;
            align-items:left;
    }

    div.linkButton{
        border:0px;
        margin-top: 3vh;
    }

    p{
        padding-top: 1.7dvh;
        max-width:45ch;
    }
}


 //pictures
 .portfolioPic{
    width: 50%;
    height: auto;
    margin-top: 3vh;
}

//projects
.projects p{
padding-top: 1.7dvh;
}

.ProjTitle{
    font-size: 4.5vw;
    font-weight: 500;
    padding-top:4dvh;
}



@media screen and (max-width: 900px) {
    #portfolio{
    width: 90dvw;
      }
    
    section{
        margin-top: 10vw;
        min-height: 20svh;
        width: 98dvw;
    
    div{
        width: 100%;
    }

    .title{
        font-size: 2rem;
    letter-spacing: -0.27vw;
    }
}
}