
.artGallery div img{
    width: 17rem;
    align-self: flex-end;
    filter: grayscale(100);
    transition: transform 0.5s;
    pointer-events:none;
}

.artGallery div span{
    display: flex;
}

.artGallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform:scale(1.1);
}

.backButton, .nextButton{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

//

.artGalleryWrap{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin: 5% auto;
    cursor: grab;
}

.artGallery{
    width: 80%;
    height: 25rem;
    display: flex;
    overflow-x: scroll;
    border: 1px solid green;
}

.artGallery div{
    width: fit-content;
    white-space: nowrap;
    display: flex;
    gap: 1svh; 
    padding: 1svh;
}

.artGallery div img{
    min-width: 7rem;
    filter: grayscale(0);
    pointer-events:none;
}

.artGallery::-webkit-scrollbar{
    display: none;

}

.backButton, .nextButton{
    visibility: hidden;
    width: 0;
    padding: 0;
}

.artGallery div img:hover{
    transform:scale(1.1);
}


@media screen and (min-width: 500px) {

  
}