#projects{
    padding-bottom: 7rem;
    width: 95%;
    max-height: fit-content;

    .ProjTitle{
        max-height: 3rem;
    }
}


.projects .title{
    height: 3rem;
}
.projects p{
    width: 90%;
    padding-left: 10%;
}

.projectButtons{
    display: flex;
    gap: 1svh;
}

.linkButton{
    justify-content: center;
}




@media screen and (min-width: 500px) {



}