@import "./../PortfolioBody.scss";

#projects{
    padding-bottom: 7rem;
    width: 100%;
    max-height: fit-content;
    overflow: hidden;

    h3{
        padding-top: 3rem;
        font-size: $subheadingText;
        width: 80%;
        text-align: left;
    }

    p{
        width: 100%;
        text-align: left;
        font-size: $extraSmallText;
        line-height: $extraSmallTextLineHeight !important;

        img{
            height: $smallText*0.7;
            width: auto;
            padding: 0px 5px 0px;
        }
    }

    li{
        list-style: none;
        font-size: $smallText*0.7;

        svg, img{
            height: $smallText * 1.1;
            width: auto;
            padding-bottom: 5px;
        }
    }

    .website_stackList{
        display: grid;
        grid-auto-columns: 20%;
        grid-template-areas: 
        '. list_title list_title list_title list_title .'
        'left_list left_list left_list right_list right_list right_list';

        h4{
            grid-area: list_title;
        }
        ul{
            padding-inline-start: 0px;
        }

    .left_list{
        grid-area: left_list;
        padding-left: 0px;
    }

    .right_list{
        grid-area: right_list;
    }
}
}


.projects-grid-container{
    display: grid;
    //grid-template-columns: repeat(12, 1fr);
   // grid-template-rows: repeat(12, 1fr);
   width: 100%;
   gap: 1dvw;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    '. project_title project_title project_title project_title .'
    'two two  two  two two two'
    '. three three three three . '
    '. four four four four . '
    'five five five five five five '
    'six six six six six six'
    '. seven seven seven seven .'
    '. eight eight eight eight .';
}

.ProjTitle{
    max-height: 3rem;
    grid-area: project_title;
    text-decoration: underline;
}

.head-image{
    grid-area: two;
}


.head-image{
    grid-area: two;
}

.info-title{
    grid-area: three;
}

.info-one{
    grid-area: four;
}

.second-gallery{
    grid-area: five;
}

#projects .info-title-two{
    grid-area: six;
    width: 60%;
}

.info-two{
    grid-area: seven;
}

.projectButtons{
    display: flex;
    gap: 1svh;
    justify-content: center;
    grid-area: eight;
}






@media screen and (min-width: 500px) {



}