@import "./components/portfolio/PortfolioBody.scss";

$purple: rgb(42, 13, 227);
$smallText: 1.5rem;
$headingText: 3rem;

//loading
.Loading-page {
  width: 100%;
  height: 100dvh;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loadingSVG {
    width: 100%;
    height: 20%;

    svg {
      width: 80%;
      height: auto;
    }
  }
}

//canvas
#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1400px;
  min-height: 990px;
}

//page settings.
#root {
  width: 100%;
  height: fit-content;
  margin: 0 0 0 0;
  color: $purple;
  text-align: center;
}

h1 {
  font-size: $headingText;
}

p,
li {
  font-size: $smallText;
}

.title {
  text-decoration: underline;
  padding-top: 7rem;
}

//navbar
.outerNavbar {
  position: fixed;
  top: 0px;
  right: 0px;
  max-width: 50%;
  height: fit-content;
  z-index: 10;
}


//header
.nameHeader h1 {
  font-weight: bold;
}

//link area
.linkContent {
  color: $purple
}


//contact area
.contact {
  border-top: solid $purple 1dvi;
}

@media screen and (min-width: 500px) {

  //navbar
  .outerNavbar {
    width: 100%;
    max-width: 100%;
  }

  .Loading-page .loadingSVG svg {
    width: 33%;
    height: auto;
  }

}