$purple: rgb(42, 13, 227);
$smallText: 1.5rem ;
$headingText: 3rem ;


//canvas
#bg{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1150px;
  min-height: 990px;
}

//page settings.
#root {
  width: 98%;
  margin: 0 0 0 0;
  color:$purple;
  text-align: center;
  overflow: hidden;
}

h1{
font-size:$headingText;
}

p, li{
  font-size: $smallText;
}

.title{
  text-decoration:underline;
  padding-top: 7rem;
  }


  //header
.nameHeader h1 {
font-weight: bold;
}

//link area
.linkContent{
  color:$purple
  }


//contact area
.contact {
    border-top: solid $purple 1dvi;
}
