$purple: rgb(42, 13, 227);


//page settings.
#root {
  width: 98%;
  margin: 0 auto;
  color:$purple;
  text-align: center;
  overflow: hidden;
}

h1{
font-size:12vw;
}

p, li{
  font-size: 2vw;
}

.title{
  text-decoration:underline;
  padding-top: 7dvh;
  }


  //header
.nameHeader h1 {
font-weight: bold;
}

//link area
.linkContent{
  color:$purple
  }


//contact area
.contact {
    border-top: solid $purple 1dvi;
}
