//about me
#about{
    min-height: 100svh;
    width: 100%;
    max-width: 98%;
    display: grid;
    float: right;
    padding: 0px  0px 12rem 3%;

    .center{
    display: flex;
    justify-content: center;
    
    p{
        padding-left: 1rem;
    }
    }

    p{
        font-size: 1.3rem;
    }

    .linkButton{
        justify-content: center;
    }
}

.lineSVG{

    z-index: -1;
    top: 0;
    left:0;

    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;

    svg{
        display: inline-block;
        height: 100%;
    }


    path{
        stroke: black;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}

section{
    margin-top: 1px;
    width: 98%;
    max-height: fit-content;
}

.title{
    grid-column: 1 / 12;

    h1{
        font-size: 3rem;
    }
}

.aboutBody{
    grid-column: 1 / 12;
    grid-template-columns: repeat(12, 1fr);
    height: fit-content;
    max-width: 100%;

    div{
        padding-top: 0.5rem;
        overflow: visible;
    }

    .snippets{
        display: grid;
        text-align: start;
    }


    .left{
        grid-column: 1 / span 8;
        max-width: 100%;
    }

    .right{
        grid-column: 5 / span 7;
        max-width:100%;
    }

    center{
        text-align: left;
        max-width: 70%;
    }

        .right-SVG{
        grid-column: 9 / span 3;
        
    }

    .left-SVG{
        grid-column: 1 / span 4;
        
    }

    svg{
        width: 7.5rem;
        height: 7.5rem;
        }

        .motion-SVG{
            padding-top: 5rem;
            padding-bottom: 0px;
        }
}


@media screen and (min-width: 500px) {

    #about{
        width: 100%;
        float: right;
        padding: 0px  0px 12rem 12%;
    
        div{
        font-size: 1.3rem;
        }

        .center p{
            width: 70%;
        }

        center{
            grid-column: 1 / span 11;
        }
        
    
        .right{
            grid-column: 7/ span 5;
            padding-top: 3rem;
            padding-bottom: 3rem;
            background-image: linear-gradient(180deg, rgba(52,52,56,0) 2%, rgba(92,126,133,1) 98%);
            width: 100%;
            max-width: 100% !important;
            
        }

        .left{
            grid-column: 1 / span 6;
            padding-top: 3rem;
            padding-bottom: 3rem;
            width: 100%;
            max-width: 100%;
            background-image: linear-gradient(180deg, rgba(52,52,56,0) 2%, rgba(92,126,133,1) 98%);
        }

        .right-SVG{
            grid-column: 9/ span 2 ;
            
        }
    
        .left-SVG{
            grid-column: 3/ span 2 ;
            
        }

        svg{
            width: 15rem;
            height: 15rem;
            }

            .motion-SVG{
                padding-top: 0px;
                padding-bottom: 0px;
            }
    
    }


}