@import "./../PortfolioBody.scss";

#about {
    min-height: 100vh;
    width: 100%;
    display: grid;

    //first and last center aligned areas.
    .center {
        display: flex;
        max-width: 100%;
        padding: 5%;
        justify-content: center;
        align-items: center;

        p {
            font-size: $smallText;
            text-align: center;
        }

        //video css
        .profileVideo {
            height: auto;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            border-radius: 15%;
        }

        .hero-video {
            //grid-column: 2 / span 10;
        }

        //css for the signature svg
        .motion-SVG {
            z-index: 2;
            position: absolute;
            padding-top: 55%;
            width: 80%;
            height: fit-content;
            left: 50%;
            transform: translate(-25%, 0) !important;
        }
    }

    p {
        font-size: 1.3rem;
    }

    .linkButton {
        justify-content: center;
    }

}

.lineSVG {

    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;

    svg {
        display: inline-block;
        height: 100%;
    }


    path {
        stroke: black;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}

section {
    margin-top: 1px;
    width: 98%;
    max-height: fit-content;
}

.title {
    grid-column: 1 / 12;

    h1 {
        font-size: 3rem;
    }
}

.aboutBody {
    grid-column: 1 / 12;
    grid-template-columns: repeat(12, 1fr);
    height: fit-content;
    max-width: 100%;

    div {
        padding-top: 0.5rem;
        overflow: visible;
    }

    // about me boards grid
    .snippets {
        display: grid;
        text-align: start;
        width: 95% !important;
        margin-left: auto;
        margin-right: auto;

        gap: 0.5rem;
        row-gap: 1rem;
        grid-auto-columns: 23%;
        grid-template-areas:
            'first_paragraph first_paragraph first_paragraph java_svg'

            '. react_SVG react_SVG .'
            'second_paragraph second_paragraph second_paragraph second_paragraph'

            'third_paragraph third_paragraph android_SVG android_SVG'

            'third_paragraph third_paragraph team_SVG team_SVG'

            'fourth_paragraph fourth_paragraph fourth_paragraph fourth_paragraph'

            '.  computer_SVG computer_SVG  computer_SVG'

            'fifth_paragraph fifth_paragraph fifth_paragraph fifth_paragraph '

            'certificate_SVG certificate_SVG certificate_SVG certificate_SVG'

            'sixth_paragraph sixth_paragraph sixth_paragraph sixth_paragraph'

        ;


        div {
            padding: 0.5rem;
            border-radius: 5%;
        }
    }

    .java_SVG {
        grid-area: java_svg;
    }

    .first_paragraph {
        grid-area: first_paragraph;
        background-color: $secondaryColor;
    }

    .second_paragraph {
        grid-area: second_paragraph;
        background-color: $secondaryColorShade;
    }

    .react_SVG {
        grid-area: react_SVG;
    }

    .android_SVG {
        grid-area: android_SVG;
        background-color: $accentColor;
    }

    .third_paragraph {
        grid-area: third_paragraph;
    }

    .computer_SVG {
        grid-area: computer_SVG;
    }

    .fourth_paragraph {
        grid-area: fourth_paragraph;
        background-color: $accentColor;
    }

    .fifth_paragraph {
        grid-area: fifth_paragraph;
        background-color: $backgroundColoraccent;
    }

    .team_SVG {
        grid-area: team_SVG;
        background-color: $backgroundColor;
    }

    .sixth_paragraph {
        grid-area: sixth_paragraph;
        background-color: $secondaryColor;
    }

    .certificate_SVG {
        grid-area: certificate_SVG;

        .motion-SVG {
            padding: 0px;
            padding-left: 2rem;
        }
    }


    svg {
        width: 7.5rem;
        height: 7.5rem;
    }

    .motion-SVG {
        padding-top: 5rem;
        padding-bottom: 0px;

    }
}







@media screen and (min-width: 900px) {

    #about {
        width: 100%;
        float: right;
        padding: 0px 0px 12rem 0px;

        div {
            font-size: 1.3rem;
        }

        .center p {
            width: 70%;
        }

        .center {
            grid-column: 1 / span 11;
            display: flex;
            justify-content: center;
            align-items: center;

            //videos
            .hero-video .profileVideo {
                width: 50%;
            }

            .motion-SVG {
                padding-top: 17%;
                width: fit-content;
                transform: translate(-40%, 0) !important;
            }
        }

        //mobile boards grid
        .snippets {
            padding-bottom: 3rem;

            width: 90%;
            gap: 1rem;
            grid-auto-columns: 15.5%;
            grid-template-areas:
                'first_paragraph first_paragraph first_paragraph java_svg react_SVG react_SVG'

                'third_paragraph  third_paragraph android_SVG android_SVG second_paragraph second_paragraph '


                ' fifth_paragraph fifth_paragraph fifth_paragraph team_SVG computer_SVG computer_SVG '

                'fourth_paragraph fourth_paragraph fourth_paragraph certificate_SVG sixth_paragraph sixth_paragraph'


            ;

            div {
                padding: 3rem;
            }
        }

        .certificate_SVG .motion-SVG {
            padding: 0px;
        }


        svg {
            width: 15rem;
            height: 15rem;
        }

        .motion-SVG {
            padding-top: 0px;
            padding-bottom: 0px;
        }


        .hero-video {
            grid-column: 2 / span 3;
        }

        .tanLogo {
            display: inline;
            grid-row: 3;
            grid-column: 7;
            padding-top: 0.1rem;
            width: 3rem;
            height: auto;
        }
    }


}