@import "./../PortfolioBody.scss";

.contactLogo{

    padding-top: 2rem;
    display:inline-block;
    
    img{
        width: 10rem;
        height: auto;
        }
}

#contact{

    .spacer{
        margin-top: 5vw;
    }

    section{
        margin-top: 1px;
        width: 95%;
        max-height: fit-content;
    }
}




#footer{
margin-top: 20%;
display: flex;
justify-content: center;

.spacer .linkButton{
    justify-content: center;
    align-content: center;
}
}

.footerIcons{
width:90%;


svg{
    flex-direction: row;
    padding: 5%;
    width:23%;
    height:23%;
    fill: aqua;
}
}
@media screen and (min-width: 500px) {

    .contactLogo{
        display:none;
     
    }

    .footerIcons{
        
        
        svg{
            width:17%;
            height:auto;
        }
        }
}