@import "./../PortfolioBody.scss";

.contactLogo{

    padding-top: 2rem;
    display:inline-block;
    
    img{
        width: 3rem;
        height: auto;
        }
}

#contact{

    .spacer{
        margin-top: 5vw;
    }

    section{
        margin-top: 1px;
        width: 100%;
        max-height: fit-content;
    }
    
    .contactForm{

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        
        h2{
            text-decoration: underline;
            width: 100%;
        }

        form{
        width: 100%;
        display: grid;
        grid-auto-columns: 20%;
        grid-template-areas: 
        '. title title title .'
        '. email email email .'
        '. field field field .'
        'message message message message message'
        '. text_area text_area text_area .'
        '. . button . .'
        ;

        h2{
            grid-area: title;
        }

        label{
            font-size:$smallText;
            margin-top: 3.5rem;
        }

        label[for~="from_name"]{
            grid-area: email;
        }

        label[for~="message"]{
            grid-area: message;
        }

        .text_area, .text_field{
            color: $textColor;
            background-color: $backgroundColor;
            border: none;
            border-bottom: 1px solid $primaryColor;
            border-top: 1px solid $primaryColor ;
        }

        .text_area{
            grid-area: text_area ;
            height: 5rem;
            font-size: $smallText;
        }

        .text_field{
            grid-area: field;
            height: 3rem;
            font-size: $smallText;
        }

        button{
            background: none;
            cursor: pointer;
            border: none;

        }
        .linkButton{
        grid-area: button;
        margin-top: 1.5rem;
    }
    }
    }


}




#footer{
margin-top: 20%;
display: flex;
justify-content: center;

.spacer .linkButton{
    justify-content: center;
    align-content: center;
}
}

.footerIcons{
width:90%;


svg{
    flex-direction: row;
    padding: 5%;
    width:25%;
    height:auto;
    fill: aqua;
}
}
@media screen and (min-width: 500px) {

    #contact{

    .contactForm{

        background-color: $secondaryColor;
        border-radius: 5%;
        padding: 1rem;
        width: 30%;    
        margin-left:50%;
        transform: translate(-50%, 0);
    form{
        grid-auto-columns: 1fr;
        grid-template-areas: 
        'title title '
        'email email '
        'field field'
        'message message'
        'text_area text_area'
        'button button'
        ;


        .text_area, .text_field{
            border: 1px solid $secondaryColorShade;
        }

        .text_area{
            height: 7rem;
            font-size: $smallText;
            width: 100%;
        }

        .text_field{
            height: 5rem;
            font-size: $smallText;
            width: 100%;
        }
        
            }
        }
    }

    .footerIcons{
        
        
        svg{
            width:17%;
        }
        }


}