.linkTitle {
    float: left;
}

.workLayout {
    align-content: center;
}

.workHistoryTitle {
    padding-top: 5dvh;
    font-weight: 700;
}

.workLength {
    font-weight: 300;
}

#subtitle {
    float: left;
    font-size: 2.7vw;
}